<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new employee profile:</title>
</head>
<body>

<div class="form">

    <h2>Create new employee profile here:</h2>

    <br>

    <form method="post" action="/new_employee">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="job">Job</label>
        <input type="text" id="job" name="job">
        <br>
        <label for="manager">Manager</label>
        <input type="number" id="manager" name="manager">
        <br>
        <label for="hireDate">Date hired (YYYY-MM-DD)</label>
        <input type="text" id="hireDate" name="hireDate">
        <br>
        <label for="salary">Salary</label>
        <input type="number" id="salary" name="salary">
        <br>
        <label for="commission">Commission</label>
        <input type="text" id="commission" name="commission">
        <br>
        <label for="deptNum">Department number</label>
        <input type="text" id="deptNum" name="deptNum">
        <br>
        <br>
        <input type="submit" value="Create">
    </form>


</div>

</body>
</html>